# Python Cookbook: Data Structures & Algorithms #

### Unpacking a Sequence into Separate Variables ###

#### Problem: There is an N-element tuple of sequence that should unpacked into a collection of N variables.

#### Solution: 
1. Use a simple assignment operation.
2. The only requirement is that the number of variables and structure match the sequence.

In [1]:
p = (4,5)
x, y = p

In [2]:
x

4

In [3]:
y

5

In [6]:
data = ['ACME', 50, 91.1, (2012, 12, 21)]
name, shares, price, date = data

In [7]:
data

['ACME', 50, 91.1, (2012, 12, 21)]

In [8]:
name

'ACME'

In [9]:
shares

50

In [10]:
price

91.1

In [11]:
date

(2012, 12, 21)

In [12]:
name, shares, price, (year, mon, day) = data

In [13]:
name

'ACME'

In [14]:
shares

50

In [15]:
price

91.1

In [16]:
year
mon
day

21

In [17]:
year

2012

In [18]:
mon

12

In [19]:
day

21

In [20]:
data

['ACME', 50, 91.1, (2012, 12, 21)]

If there is a mismatch in the number of elements, we'get an error. For example:

In [21]:
p

(4, 5)

In [22]:
a1, b1, c1 = p

ValueError: not enough values to unpack (expected 3, got 2)

IMPORTANT NOTE: Make sure that the variable name we pick for a tuple or sequence isn't being used for something else already.